{% load tagging_tags comments i18n %}
{% load url from future %}
<div id="entry-{{ object.pk }}" class="hentry{% if object.featured %} featured{% endif %} entry-block">
	<div class="date">
		<span class="date-d">{{ object.creation_date|date:"j" }}</span>
		<span class="date-m">{{ object.creation_date|date:"E" }}</span>
	</div>
	<div class="block-header">
		<h2 class="entry-title">
			<a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
				{{ object.title }}
			</a>
		</h2>
		<p class="entry-info">
			{% for author in object.authors.all %}
			<span class="vcard author">
				<a href="{% url 'zinnia_author_detail' author %}" class="fn nickname url" rel="author"
					title="{% blocktrans %}Show all {{ author }}'s entries{% endblocktrans %}">{{ author.first_name }} {{ author.last_name }}</a>
			</span>{% if not forloop.last %}, {% endif %}
			{% endfor %}
		</p>
	</div>

	<div class="entry-body">
		{% if object.image %}
		<div class="entry-image">
			<p>
				{% if continue_reading %}
				<a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
				{% endif %}
					<img src="{{ object.image.url }}" alt="{{ object.title }}" class="left" />
				{% if continue_reading %}
				</a>
				{% endif %}
			</p>
		</div>
		{% endif %}
		<div class="entry-content">
			{{ object_content }}
		</div>
		{% if continue_reading %}
		<p class="continue-reading">
			<a href="{{ object.get_absolute_url }}"
			   title="{% blocktrans with object=object.title %}Continue reading {{ object }}{% endblocktrans %}"
			   rel="bookmark">
				{% trans "Continue reading" %}
			</a>
		</p>
		{% endif %}
	</div>

	<div class="entry-footer">
		<p class="entry-tags">
			{% tags_for_object object as tag_list %}
			{% for tag in tag_list %}
			<a href="{% url 'zinnia_tag_detail' tag %}"
			   title="{% blocktrans %}Show all entries tagged by {{ tag }}{% endblocktrans %}"
			   rel="tag">{{ tag }}</a>
			{% endfor %}
		</p>
	</div>
</div>
