body {
	padding-top: 40px;
	padding-bottom: 20px;
}
#appendedInputButtons {height:36px; font-size:20px;}
#monumentSearchBtn {height:36px;}
#foundThumbs img {height:37px!important;}
h1 {height:50px}
h1 a {text-indent:-9999px; background:url(../img/wlm_logo.png) no-repeat; height:130px; padding-left:70px}