body {
	background: url(../img/bg.png) 0 0 repeat;
	color: #333;
}

.container {
	padding: 40px 43px 40px 60px;
	background: #fff;
}

.header-top {
	position: relative;
	height: 187px;
	margin-left: 104px;
	margin-bottom: 10px;
	padding-left: 45px;
	border-bottom: 3px solid #e31e24;
}

header .quote {
	font-weight: normal;
	font-style: italic;
	font-size: 24px;
	line-height: 28px;
}

header h2 {
	display: block;
	position: absolute;
	bottom: 20px;
	font-size: 12px;
	line-height: 14px;
	padding-left: 10px;
	border-left: 3px solid #333;
}

header a.brand {
	display: block;
	position: absolute;
	left: -109px;
	bottom: -3px;
	width: 115px;
	height: 190px;
	padding: 0;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url(../img/logo.png) 0 0 no-repeat;
}

.date {
	display: block;
	text-align: center;
	width: 96px;
	height: 62px;
	padding-top: 25px;
	background: url(../img/date-braces.png) 0 0 no-repeat;
}

header .date {
	float: right;
	width: 131px;
	height: 86px;
	background-image: url(../img/date-braces-head.png)
}

.date-d,
.date-m,
.date-y {
	display: block;
}

.date-d {
	font-size: 42px;
}

.date-m {
	margin-top: 5px;
	font-size: 13px;
}

.date-y {
	font-size: 18px;
}

a {
	color: #e31e24;
}

a:hover {
	color: #a3161a;
}

.nav-list > .active > a,
.nav-list > .active > a:hover {
	background: #e31e24;
}

header .nav > li {
	margin-top: 5px;
	margin-right: -7px;
}

header .nav > li > a {
	font-size: 16px;
	font-weight: bold;
	color: #333;
	border: solid #333;
	border-width: 0 7px;
	border-radius: 0;
	margin: 0;
	padding-left: 30px;
	padding-right: 30px;
}

header .nav > .active > a,
header .nav > li > a:hover,
header .nav > .active > a:hover {
	color: #a3161a;
	border-color: #e31e24;
	background: transparent;
	position: relative;
	z-index: 2;
}

header .nav > .active > a {
	color: #e31e24;
}

.count {
	float: right;
}

.table-well {
	background: whiteSmoke;
}
