html {
	background-color: #fff;
}
body {
	background: url("../img/bg.jpg") repeat scroll 0 0 #EEEEEE;
}
#container {
	margin: 0 auto;
	max-width: 1226px;
}
header > div.row {
	padding: 30px 0
}
header .logo {
	margin-bottom: 0;
}
header .logo a {
	display: inline-block;
	width: 670px;
	height: 62px;
	background: url("../img/logo.png") no-repeat 0 0;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
header a {
	color: #828282;
}
header .btn-large {
	background-color:#0074cc;
	background-image:-moz-linear-gradient(top, #0088cc, #0055cc);
	background-image:-ms-linear-gradient(top, #0088cc, #0055cc);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
	background-image:-webkit-linear-gradient(top, #0088cc, #0055cc);
	background-image:-o-linear-gradient(top, #0088cc, #0055cc);
	background-image:linear-gradient(top, #0088cc, #0055cc);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
	border-color:#0055cc #0055cc #003580;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter:progid:dximagetransform.microsoft.gradient(enabled=false);
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
header .btn-large:hover {
	background-color: #0055cc;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.upload-my {
	background-image: url("../img/gl-upload.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 26px;
	line-height: 24px;
	vertical-align: text-top;
	width: 26px;
}
#about {
	color: #fff;
}
#about h2, 
#find h2 {
	font-size: 24px;
	padding: 0 50px 0 62px;
	margin: 8px 0;
}
#find h2 {
	background: url("../img/gl-search.png") no-repeat scroll 28px 6px transparent;
}
#result h2 {
	background: url("../img/glyphicons_081_refresh.png") no-repeat scroll 23px 7px transparent;
}
#about h2 {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
	background: url("../img/gl-info.png") no-repeat scroll 28px 6px transparent;
}
#find h2,
#result h2 {
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}
#about .content {
	margin: 0 20px;
	padding-bottom: 8px;
}
#find p.title {
	font-weight: bold;
}
#boxPlace p.title {
	margin-left: -20px;
}
#boxPlace .content {
	margin: 0 0 0 62px;
}
#boxPlace .controls {
	margin-bottom: 35%;
}
#boxPlace button {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
}
#boxPlace select {
	width: 100%;
}

#boxLine.w-line {
	background: url("../img/wpoint.gif") repeat-y center;
	color: #fff;
}
#boxLine.b-line {
	background: url("../img/bpoint.gif") repeat-y center;
}
#boxLine p {
	background: none repeat scroll 0 0 #EEEEEE;
	margin-bottom: 85%;
	margin-top: 85%;
	padding: 0 0 3px;
	text-align: center;
}

#boxMap .form-search input {
	font-size: 22px;
	padding-bottom: 8px;
	padding-top: 6px;
	/*width: 345px;*/
}
#boxMap .form-search button {
	padding-bottom: 8px;
	padding-top: 6px;
}
#boxMap .content {
	border-left: 1px solid #444444;
	margin-bottom: 16px;
	padding: 0 6%;
}
#map {
	border: 1px solid #AAAAAA;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 3px #000000 inset;
	width: 98%;
	height: 400px;
	margin: 0 auto 8px;
}
#location {
	padding: 10px;
	background-color: #f5d83a; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #f5eb80 0%, #f5d83a 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5eb80), color-stop(100%,#f5d83a)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5eb80 0%,#f5d83a 100%); /* Chrome 10+,Safari 5.1+ */
	background-image: -ms-linear-gradient(top, #f5eb80 0%,#f5d83a 100%); /* IE10+ */
	background-image: -o-linear-gradient(top, #f5eb80 0%,#f5d83a 100%); /* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5eb80', endColorstr='#f5d83a',GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #f5eb80 0%,#f5d83a 100%); /* W3C */
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#about.show-grid [class*="span"] {
	background-color: #3883b2; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #1abeee 0%, #3883b2 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1abeee), color-stop(100%,#3883b2)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #1abeee 0%,#3883b2 100%); /* Chrome 10+,Safari 5.1+ */
	background-image: -ms-linear-gradient(top, #1abeee 0%,#3883b2 100%); /* IE10+ */
	background-image: -o-linear-gradient(top, #1abeee 0%,#3883b2 100%); /* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1abeee', endColorstr='#3883b2',GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #1abeee 0%,#3883b2 100%); /* W3C */
	/*border: 1px solid #307cab;*/
}
#find.show-grid [class*="span"] {
	background-color: #f5d83a; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #f5eb80 0%, #f5d83a 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5eb80), color-stop(100%,#f5d83a)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5eb80 0%,#f5d83a 100%); /* Chrome 10+,Safari 5.1+ */
	background-image: -ms-linear-gradient(top, #f5eb80 0%,#f5d83a 100%); /* IE10+ */
	background-image: -o-linear-gradient(top, #f5eb80 0%,#f5d83a 100%); /* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5eb80', endColorstr='#f5d83a',GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #f5eb80 0%,#f5d83a 100%); /* W3C */
}
#result {
	margin: -21px auto 0;
	padding-top: 8px;
	width: 98%;
	background-color: #4d9676; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #41dd99 0%, #4d9676 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#41dd99), color-stop(100%,#4d9676)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #41dd99 0%,#4d9676 100%); /* Chrome 10+,Safari 5.1+ */
	background-image: -ms-linear-gradient(top, #41dd99 0%,#4d9676 100%); /* IE10+ */
	background-image: -o-linear-gradient(top, #41dd99 0%,#4d9676 100%); /* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41dd99', endColorstr='#4d9676',GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #41dd99 0%,#4d9676 100%); /* W3C */
}
#result h2 {
	font-size: 24px;
	padding: 0 50px 0 54px;
}
#result .content {
	padding: 10px 0px 20px 56px;
}
#result .element-result {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
	position: relative;
	width: 169px;
	float: left;
	margin: 5px 25px 20px 0;
}
#result .element-result p {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	bottom: 0;
	margin: 0;
	padding: 2px 0 5px 5px;
	position: absolute;
	width: 164px;
}
#result .element-result p > a {
 color: #ffffff;
 display: block;
}

#sidebar h2 {
	font-size: 18px;
	line-height: 18px;
	margin: 8px 0 0 20px;
}
#sidebar .content {
	margin: 5px 20px 15px 20px;
}
#sidebar .element-sidebar {
	padding: 13px 0px;
	border-bottom: 1px solid #dadada;
	border-top: 1px solid #ffffff;
}
#sidebar .element-sidebar:first-child {
	border-top: none;
}
/*#sidebar .element-sidebar:last-child {
	border-bottom: none;
}*/
#sidebar .element-sidebar > img {
	float: left;
	margin: 0 19px 0 0;
}
#sidebar .element-sidebar > div {
	margin: 0 0 0 70px;
}
#sidebar .element-sidebar > div > p {
	margin: 0;
}
#sidebar .element-sidebar p.title > a {
	color: #000;
	font-weight: bold;
}

footer {
	margin: 84px 0px 40px 0px;
}
footer .license-link {
	float: left;
	margin: 0 10px 0 0;
}
footer p {
	margin: 0 0 0 100px;
	font-size: 12px;
	line-height: 13px;
	color: #2c2c2c;
}
/*
	Fix bootstrap
*/
.nav > li > a:hover {
	background-color: #a84040 !important;
}
#about.show-grid [class*="span"],
#find.show-grid [class*="span"] {
	text-align: left !important;
}


.contacts {
	padding-top: 17px;
}
