{% extends "base.html" %}

{% block content %}
<h1>{{ house.street }}, {{ house.number }}{% if house.name %} ({{ house.name }}){% endif %}</h1>

<table>
{% if house.kult_id %}
	<tr>
		<th>На сайте Культурного наследия</th>
		<td><a href="http://kulturnoe-nasledie.ru/monuments.php?id={{ house.kult_id }}">{{ house.kult_id }}</a><td>
	</tr>
{% endif %}
{% if house.coord_x %}
	<tr>
		<th>Карта</th>
		<td>{{ house.coord_x }}, {{ house.coord_y }}<td>
	</tr>
{% endif %}
{% if house.safety %}
	<tr>
		<th>Сохранность</th>
		<td>{{ house.get_safety_display }}</a><td>
	</tr>
{% endif %}
{% if house.state and house.safety == 'S' %}
	<tr>
		<th>Состояние</th>
		<td>{{ house.get_state_display }}<td>
	</tr>
{% endif %}
{% if house.usage %}
	<tr>
		<th>Использование</th>
		<td>{{ house.get_usage_display }}</a><td>
	</tr>
{% endif %}
{% if house.protection %}
	<tr>
		<th>Категория охраны</th>
		<td>{{ house.get_protection_display }}</a><td>
	</tr>
{% endif %}
{% if house.pasport %}
	<tr>
		<th>Паспорт</th>
		<td>{{ house.pasport }}</a><td>
	</tr>
{% endif %}
{% if house.material %}
	<tr>
		<th>Материал</th>
		<td>{{ house.get_material_display }}</a><td>
	</tr>
{% endif %}
{% if house.extra_info %}
	<tr>
		<th>Дополнительная информация</th>
		<td>{{ house.extra_info }}</a><td>
	</tr>
{% endif %}
</table>
{% endblock %}
