{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/content.css" />
<link rel="stylesheet" href="//api.oldvologda.ru/leaflet/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="//api.oldvologda.ru/leaflet/leaflet.ie.css" /><![endif]-->
<script src="//api.oldvologda.ru/leaflet/leaflet.js"></script>
{% endblock %}

{% block content %}
<h1><a href="/street/{{ house.street.id }}">{{ house.street }}</a>, {{ house.number }}{% if house.name %} ({{ house.name }}){% endif %}</h1>

{% if house.coord_lon %}
<div id="map" class="map"></div>
<script type="text/javascript">
	var cmUrl = 'http://{s}.tile.cloudmade.com/{{ CMADE_KEY }}/997/256/{z}/{x}/{y}.png';
	var cmAttr = 'карта &copy; OpenStreetMap, рендер &copy; CloudMade';
	var map = new L.Map('map');
	map
		.setView(new L.LatLng({{ house.coord_lat|stringformat:"f" }}, {{ house.coord_lon|stringformat:"f" }}), 16)
		.addLayer(new L.TileLayer(cmUrl, {maxZoom: 18, attribution: cmAttr}))
		.addLayer(new L.Marker(new L.LatLng({{ house.coord_lat|stringformat:"f" }}, {{ house.coord_lon|stringformat:"f" }})));
</script>
{% endif %}

<table class="info">
{% if house.kult_id %}
	<tr>
		<th>На сайте Культурного наследия</th>
		<td><a href="http://kulturnoe-nasledie.ru/monuments.php?id={{ house.kult_id }}" target="_blank">{{ house.kult_id }}</a></td>
	</tr>
{% endif %}

{% if house.ruwiki %}
	<tr>
		<th>В Википедии</th>
		<td><a href="http://ru.wikipedia.org/wiki/{{ house.ruwiki|urlencode }}" target="_blank">{{ house.ruwiki }}</a></td>
	</tr>
{% endif %}

{% if house.safety %}
	{% if house.state and house.safety in 'S' %}
	<tr>
		<th>Сохранность и состояние</th>
		<td class="state-{{ house.state }}">{{ house.get_safety_display }} ({{ house.get_state_display|lower }})</td>
	</tr>
	{% else %}
	<tr>
		<th>Сохранность и состояние</th>
		<td class="safety-{{ house.safety }}">{{ house.get_safety_display }}</td>
	</tr>
	{% endif %}
{% endif %}

{% if house.pasport_safety %}
	{% if house.pasport_state and house.pasport_safety in 'S' %}
	<tr>
		<th>Сохранность и состояние по паспорту</th>
		<td class="state-{{ house.pasport_state }}">{{ house.get_pasport_safety_display }} ({{ house.get_pasport_state_display|lower }})</td>
	</tr>
	{% else %}
	<tr>
		<th>Сохранность и состояние по паспорту</th>
		<td class="safety-{{ house.pasport_safety }}">{{ house.get_pasport_safety_display }}</td>
	</tr>
	{% endif %}
{% endif %}

{% if house.pasport_address %}
	<tr>
		<th>Адрес в паспорте</th>
		<td>{{ house.pasport_address }}</td>
	</tr>
{% endif %}

{% if house.usage %}
	<tr>
		<th>Использование</th>
		<td>{{ house.get_usage_display }}</td>
	</tr>
{% endif %}

{% if house.protection %}
	<tr>
		<th>Категория охраны</th>
		<td>{{ house.get_protection_display }}</td>
	</tr>
{% endif %}

{% if is_admin and house.pasport %}
	<tr>
		<th>Паспорт</th>
		<td>{{ house.pasport }}</td>
	</tr>
{% endif %}

{% if house.material %}
	<tr>
		<th>Тип</th>
		<td>{{ house.get_material_display }}</td>
	</tr>
{% endif %}

{% if house.chronology %}
	<tr>
		<th>Хронология</th>
		<td>{{ house.chronology|linebreaksbr }}</td>
	</tr>
{% endif %}

{% if is_admin and house.documents %}
	<tr>
		<th>Документооборот</th>
		<td>{{ house.documents|linebreaksbr }}</td>
	</tr>
{% endif %}

{% if is_admin and house.monitoring %}
	<tr>
		<th>Мониторинг</th>
		<td>{{ house.monitoring|linebreaksbr }}</td>
	</tr>
{% endif %}

{% if house.extra_info %}
	<tr>
		<th>Дополнительная информация</th>
		<td>{{ house.extra_info|linebreaksbr }}</td>
	</tr>
{% endif %}
</table>

{% if house.kult_id %}
<ul class="photo">
{% for p in photo %}
	<li>
		<a href="{{ p.file.src }}" target="_blank"><img src="{{ p.file.src_300 }}" alt="{% if p.title %}{{ p.title }}. {% endif %}Автор: {{ p.author }}" /></a>
		<p>{% if p.title %}{{ p.title }}<br/> {% endif %}Автор: {{ p.author }}</p>
	</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
