{% extends "base.html" %}

{% block head %}
<script src="http://api-maps.yandex.ru/1.1/index.xml?key={{ YMAPS_KEY }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<h1>{{ house.street }}, {{ house.number }}{% if house.name %} ({{ house.name }}){% endif %}</h1>

{% if house.coord_x %}
<div id="YMapsID" style="width:300px;height:200px;float:right"></div>
<script type="text/javascript">
	YMaps.jQuery(function () {
		var map = new YMaps.Map(YMaps.jQuery("#YMapsID")[0]);
		map.setCenter(new YMaps.GeoPoint({{ house.coord_x|stringformat:"f" }}, {{ house.coord_y|stringformat:"f" }}), 15);
		var house = new YMaps.Placemark(new YMaps.GeoPoint({{ house.coord_x|stringformat:"f" }}, {{ house.coord_y|stringformat:"f" }}));
		house.name = "{{ house.street }}, {{ house.number }}";
		map.addOverlay(house); 
	})
</script>
{% endif %}

<table>
{% if house.kult_id %}
	<tr>
		<th>На сайте Культурного наследия</th>
		<td><a href="http://kulturnoe-nasledie.ru/monuments.php?id={{ house.kult_id }}">{{ house.kult_id }}</a><td>
	</tr>
{% endif %}
{% if house.ruwiki %}
	<tr>
		<th>В Википедии</th>
		<td><a href="http://ru.wikipedia.org/wiki/{{ house.ruwiki|urlencode }}">{{ house.ruwiki }}</a><td>
	</tr>
{% endif %}
{% if house.safety %}
	<tr>
		<th>Сохранность</th>
		<td>{{ house.get_safety_display }}</a><td>
	</tr>
{% endif %}
{% if house.state and house.safety == 'S' %}
	<tr>
		<th>Состояние</th>
		<td>{{ house.get_state_display }}<td>
	</tr>
{% endif %}
{% if house.usage %}
	<tr>
		<th>Использование</th>
		<td>{{ house.get_usage_display }}</a><td>
	</tr>
{% endif %}
{% if house.protection %}
	<tr>
		<th>Категория охраны</th>
		<td>{{ house.get_protection_display }}</a><td>
	</tr>
{% endif %}
{% if house.pasport %}
	<tr>
		<th>Паспорт</th>
		<td>{{ house.pasport }}</a><td>
	</tr>
{% endif %}
{% if house.material %}
	<tr>
		<th>Материал</th>
		<td>{{ house.get_material_display }}</a><td>
	</tr>
{% endif %}
{% if house.extra_info %}
	<tr>
		<th>Дополнительная информация</th>
		<td>{{ house.extra_info }}</a><td>
	</tr>
{% endif %}
</table>
{% endblock %}
