{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
<div class="row">
	<div id="main" class="span9">
		<div id="about" class="row show-grid">
			<div class="span9">
				<h1>О проекте</h1>
				<div class="content">
					<p>Википедия любит Петербург – часть организуемого региональными отделениями Викимедиа международного фотосоревнования Wiki Loves Monuments'2011, проходящего в Европе в сентябре 2011 года.</p>
					<p>В конкурсе участвуют самостоятельно сделанные и в сентябре 2011 года самостоятельно загруженные под свободной лицензией на Викисклад фотографии, на которых запечатлён памятник архитектуры из специального списка</p>	
				</div>
			</div>
		</div>

		<div id="find" class="row show-grid">
			<div class="span9">
				<div class="content">
					<h1>Найдите памятник</h1>

					<div class="row">
						<div id="boxPlace" class="span3">
							<div class="content">
								<p class="title"><i class="icon-screenshot"></i>Введите регион и город вручную</p>
								<div class="controls">
									<label class="control-label" for="region">Выберите регион</label>
									<select id="town" name="region">
										<option>something</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
								<div class="controls">
									<label class="control-label" for="town">Выберите город</label>
									<select id="town" name="town">
										<option>something</option>
										{% for c in cities%}
                                        <option value='{{c.id}}'>{{c.name}}</option>
									    {%endfor%}
                                    </select>
								</div>
								<p>
									<button class="btn btn-large btn-primary">Искать</button>
								</p>
							</div>
						</div>
						<!-- <div id="boxLine" class="span1 b-line">
							<p>или</p>
						</div> -->
						<div id="boxMap" class="span6">
							<div class="content">
								<p class="title">Воспользуйтесь поиском</p>
								<form class="form-search">
									<input type="text" class="input-xlarge search-query">
									<button type="submit" class="btn">Найти памятник</button>
								</form>
								<div id="map" class="map map-big"></div>
								<script type="text/javascript">
									//var cmUrl = 'http://{s}.tile.cloudmade.com/{{ CMADE_KEY }}/997/256/{z}/{x}/{y}.png';
									var cmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
									var cmAttr = 'карта &copy; OpenStreetMap, рендер &copy; CloudMade';
									var map = new L.Map('map');
									map
										.setView(new L.LatLng(66, 94), 2)
										.addLayer(new L.TileLayer(cmUrl, { maxZoom: 18, attribution: cmAttr }));
									var clusterer = new LeafClusterer(map);
                                    
                                    //Now will do a some trick - get markers only for tile 256 x 256
                                    var pix_bounds = map.getPixelBounds();
                                    var zoom = map.getZoom();
                                    var x_min = Math.floor(pix_bounds.min.x / 256);
                                    var x_max = Math.floor(pix_bounds.max.x / 256);
                                    var y_min = Math.floor(pix_bounds.min.y / 256);
                                    var y_max = Math.floor(pix_bounds.max.y / 256);
                                    //var markers = [];

                                    for (y = y_min; y <= y_max; y++){
                                        for (x = x_min; x <= x_max; x++){
                                            //Next level optimization:
                                            // Get count of markers on tile and get all markers by chunks
                                            var count_url = '/ajax/markerscount/' + zoom + '/' + x + '/' + y;
                                            var count = 0;
                                            $.ajax({ url: count_url, success: function(res){
                                                    count = res.count;
                                                }, async: false,
                                            });
                                            var first = -1;
                                            while (count > 0){
                                                first = first + 1;
                                                last = first + Math.min(10000, count);
                                                var url = '/ajax/markers/' + zoom + '/' + x + '/' + y + '/' + first + '/' + last;
                                                $.getJSON(url, function(data){
                                                    markers = [];
                                                    $.each(data.markers, function(key, val){
                                                        markers.push(new L.Marker(new L.LatLng(val.lat, val.lon)).bindPopup('<p><a href="/house/' + val.id + '">' + val.name +'</p>'));
                                                    });
                                                    clusterer.addMarkers(markers);
                                                }).error(function(){
                                                    alert('Error!');
                                                });
                                                count = count - 10000;
                                                first = last;
                                            }
                                        }
                                    }
								</script>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="result">
			<h1>Результаты поиска</h1>
			<div class="content">

				<!-- .element-result -->
				<div id="foto-81" class="element-result">
					<a class="foto-link" href="http://opora.me/alboms/lesnoe-konobeevo/">
						<img height="118" width="169" style="position: absolute;" src="{{ STATIC_URL }}img/fotoFx.png">
						<img height="118" width="169" title="" alt="" class="" src="{{ STATIC_URL }}img/simpleimg.jpg">
					</a>
						<p><a href="#" class="title-link">Фоторафия 1</a></p>
				</div>
				<!-- .element-result -->

				<div id="foto-81" class="element-result">
					<a class="foto-link" href="http://opora.me/alboms/lesnoe-konobeevo/">
						<img height="118" width="169" style="position: absolute;" src="{{ STATIC_URL }}img/fotoFx.png">
						<img height="118" width="169" title="" alt="" class="" src="{{ STATIC_URL }}img/simpleimg.jpg">
					</a>
						<p><a href="#" class="title-link">Фоторафия 1</a></p>
				</div>
				<div id="foto-81" class="element-result">
					<a class="foto-link" href="http://opora.me/alboms/lesnoe-konobeevo/">
						<img height="118" width="169" style="position: absolute;" src="{{ STATIC_URL }}img/fotoFx.png">
						<img height="118" width="169" title="" alt="" class="" src="{{ STATIC_URL }}img/simpleimg.jpg">
					</a>
						<p><a href="#" class="title-link">Фоторафия 1</a></p>
				</div>
				<div id="foto-81" class="element-result">
					<a class="foto-link" href="http://opora.me/alboms/lesnoe-konobeevo/">
						<img height="118" width="169" style="position: absolute;" src="{{ STATIC_URL }}img/fotoFx.png">
						<img height="118" width="169" title="" alt="" class="" src="{{ STATIC_URL }}img/simpleimg.jpg">
					</a>
						<p><a href="#" class="title-link">Фоторафия 1</a></p>
				</div>
				<div id="foto-81" class="element-result">
					<a class="foto-link" href="http://opora.me/alboms/lesnoe-konobeevo/">
						<img height="118" width="169" style="position: absolute;" src="{{ STATIC_URL }}img/fotoFx.png">
						<img height="118" width="169" title="" alt="" class="" src="{{ STATIC_URL }}img/simpleimg.jpg">
					</a>
						<p><a href="#" class="title-link">Фоторафия 1</a></p>
				</div>
				<div id="foto-81" class="element-result">
					<a class="foto-link" href="http://opora.me/alboms/lesnoe-konobeevo/">
						<img height="118" width="169" style="position: absolute;" src="{{ STATIC_URL }}img/fotoFx.png">
						<img height="118" width="169" title="" alt="" class="" src="{{ STATIC_URL }}img/simpleimg.jpg">
					</a>
						<p><a href="#" class="title-link">Фоторафия 1</a></p>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
	</div>



	<div id="sidebar" class="span3">
		<h2>Фотографии с наиболее высокими оченками</h2>
		
		<!-- .content -->
		<div class="content">

			<!-- .element-sidebar -->
			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating">Голосов за: 315</p>
				</div>
			</div>
			<!-- /.element-sidebar -->

			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating">Голосов за: 315</p>
				</div>
			</div>
			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating">Голосов за: 315</p>
				</div>
			</div>
			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating">Голосов за: 315</p>
				</div>
			</div>
		</div>
		<!-- /.content -->


		<h2>Фотографии без оценок</h2>
		
		<!-- .content -->
		<div class="content">

			<!-- .element-sidebar -->
			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating"></p>
				</div>
			</div>
			<!-- /.element-sidebar -->

			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating"></p>
				</div>
			</div>
			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating"></p>
				</div>
			</div>
			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating"></p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
