{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
<div class="row">
	<div id="main" class="span9">
		<div id="about" class="row show-grid">
			<div class="span9">
				<h1>О проекте</h1>
				<div class="content">
					<p>Википедия любит памятники – часть организуемого региональными отделениями Викимедиа международного фотосоревнования Wiki Loves Monuments'2012, проходящего в Европе в сентябре 2012 года.</p>
					<p>В конкурсе участвуют самостоятельно сделанные и в сентябре 2012 года самостоятельно загруженные под свободной лицензией на Викисклад фотографии, на которых запечатлён памятник архитектуры из специального списка.</p>
				</div>
			</div>
		</div>

		<div id="find" class="row show-grid">
			<div class="span9">
				<div class="content">
					<h1>Найдите памятник</h1>

					<div class="row">
						<div id="boxMap" class="span9">
							<div id="location">
								<p class="title"><i class="icon-screenshot"></i>Введите регион и город вручную</p>
								<div class="controls">
									<label class="control-label" for="filter-region">Выберите регион</label>
									<select id="filter-region" name="region">
										{% for r in regions %}
										<option value='{{r.id}}'>{{r.name}}</option>
										{%endfor%}
									</select>
								</div>
								<div class="controls">
									<label class="control-label" for="filter-city">Выберите город</label>
									<select id="filter-city" name="city">
										<option></option>
										{% for c in cities %}
										<option value='{{c.id}}'>{{c.name}}</option>
										{%endfor%}
									</select>
								</div>
								<p>
									<button class="btn btn-large btn-primary">Найти</button>
								</p>
							</div>

							<div id="map" class="map map-big"></div>
							<script type="text/javascript">
								//var cmUrl = 'http://{s}.tile.cloudmade.com/{{ CMADE_KEY }}/997/256/{z}/{x}/{y}.png';
								var cloudmade = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
									maxZoom: 18,
									minZoom: 3,
									attribution: 'карта &copy; OpenStreetMap, рендер &copy; CloudMade'
								});
								var map = new L.Map('map', {
									center: new L.LatLng(66, 94),
									zoom: 3,
									zoomControl: false,
									layers: [cloudmade]
								});
								map.zoomControl = new L.Control.Zoom({ position: 'bottomleft' });

								var markers = [];
								var regionMarkers = function(region) {
									if (typeof markers[region] !== 'undefined') {
										return;
									}
									markers[region] = new L.MarkerClusterGroup();
									$.ajax({
										url: '/ajax/markersregion/' + region,
										success: function(data){
											for (var key in data) {
												var val = data[key];
												var marker = new L.Marker(new L.LatLng(val.coord_lat, val.coord_lon), { title: val.name });
												marker
													.bindPopup(val.name)
													.addTo(markers[region]);
											}
											map.addLayer(markers[region]);
										}
									});
								}
								regionMarkers($('#filter-region option:selected').val());
								$('#filter-region').change(function(){
									regionMarkers($('option:selected', $(this)).val());
								});
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="result">
			<h1>Результаты поиска</h1>
			<div class="content">

				<!-- .element-result -->
				<div id="foto-81" class="element-result">
					<a class="foto-link" href="http://opora.me/alboms/lesnoe-konobeevo/">
						<img height="118" width="169" style="position: absolute;" src="{{ STATIC_URL }}img/fotoFx.png">
						<img height="118" width="169" title="" alt="" class="" src="{{ STATIC_URL }}img/simpleimg.jpg">
					</a>
						<p><a href="#" class="title-link">Фоторафия 1</a></p>
				</div>
				<!-- .element-result -->

				<div id="foto-81" class="element-result">
					<a class="foto-link" href="http://opora.me/alboms/lesnoe-konobeevo/">
						<img height="118" width="169" style="position: absolute;" src="{{ STATIC_URL }}img/fotoFx.png">
						<img height="118" width="169" title="" alt="" class="" src="{{ STATIC_URL }}img/simpleimg.jpg">
					</a>
						<p><a href="#" class="title-link">Фоторафия 1</a></p>
				</div>
				<div id="foto-81" class="element-result">
					<a class="foto-link" href="http://opora.me/alboms/lesnoe-konobeevo/">
						<img height="118" width="169" style="position: absolute;" src="{{ STATIC_URL }}img/fotoFx.png">
						<img height="118" width="169" title="" alt="" class="" src="{{ STATIC_URL }}img/simpleimg.jpg">
					</a>
						<p><a href="#" class="title-link">Фоторафия 1</a></p>
				</div>
				<div id="foto-81" class="element-result">
					<a class="foto-link" href="http://opora.me/alboms/lesnoe-konobeevo/">
						<img height="118" width="169" style="position: absolute;" src="{{ STATIC_URL }}img/fotoFx.png">
						<img height="118" width="169" title="" alt="" class="" src="{{ STATIC_URL }}img/simpleimg.jpg">
					</a>
						<p><a href="#" class="title-link">Фоторафия 1</a></p>
				</div>
				<div id="foto-81" class="element-result">
					<a class="foto-link" href="http://opora.me/alboms/lesnoe-konobeevo/">
						<img height="118" width="169" style="position: absolute;" src="{{ STATIC_URL }}img/fotoFx.png">
						<img height="118" width="169" title="" alt="" class="" src="{{ STATIC_URL }}img/simpleimg.jpg">
					</a>
						<p><a href="#" class="title-link">Фоторафия 1</a></p>
				</div>
				<div id="foto-81" class="element-result">
					<a class="foto-link" href="http://opora.me/alboms/lesnoe-konobeevo/">
						<img height="118" width="169" style="position: absolute;" src="{{ STATIC_URL }}img/fotoFx.png">
						<img height="118" width="169" title="" alt="" class="" src="{{ STATIC_URL }}img/simpleimg.jpg">
					</a>
						<p><a href="#" class="title-link">Фоторафия 1</a></p>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
	</div>



	<div id="sidebar" class="span3">
		<h2>Фотографии с наиболее высокими оченками</h2>
		
		<!-- .content -->
		<div class="content">

			<!-- .element-sidebar -->
			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating">Голосов за: 315</p>
				</div>
			</div>
			<!-- /.element-sidebar -->

			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating">Голосов за: 315</p>
				</div>
			</div>
			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating">Голосов за: 315</p>
				</div>
			</div>
			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating">Голосов за: 315</p>
				</div>
			</div>
		</div>
		<!-- /.content -->


		<h2>Фотографии без оценок</h2>
		
		<!-- .content -->
		<div class="content">

			<!-- .element-sidebar -->
			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating"></p>
				</div>
			</div>
			<!-- /.element-sidebar -->

			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating"></p>
				</div>
			</div>
			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating"></p>
				</div>
			</div>
			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating"></p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
