{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/content.css" />
<link rel="stylesheet" href="//api.oldvologda.ru/leaflet/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="//api.oldvologda.ru/leaflet/leaflet.ie.css" /><![endif]-->
<script src="//api.oldvologda.ru/leaflet/leaflet.js"></script>
{% endblock %}

{% block title %}База домов — {% endblock %}

{% block content %}
<div class="row">
	<div class="span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
			{% for street in street_list %}
				{% if street.house_count %}
				<li><a href="/base/street/{{ street.id }}">{{ street.name }} <span class="count">{{ street.house_count }}</span></a></li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	</div>

	<div class="span9">
		{% if map_center %}
		<div id="map" class="map map-big"></div>
		<script type="text/javascript">
			var cmUrl = 'http://{s}.tile.cloudmade.com/{{ CMADE_KEY }}/997/256/{z}/{x}/{y}.png';
			var cmAttr = 'карта &copy; OpenStreetMap, рендер &copy; CloudMade';
			var map = new L.Map('map');
			map
				.setView(new L.LatLng({{ map_center.lat|stringformat:"f" }}, {{ map_center.lon|stringformat:"f" }}), 14)
				.addLayer(new L.TileLayer(cmUrl, { maxZoom: 18, attribution: cmAttr }));

		{% for house in house_list %}
			{% if house.coord_lat %}
				map.addLayer(new L.Marker(new L.LatLng({{ house.coord_lat|stringformat:"f" }}, {{ house.coord_lon|stringformat:"f" }})).bindPopup('<p><a href="/base/house/{{ house.id }}">{{ house.street.name }}, {{ house.number }}</p>'));
			{% endif %}
		{% endfor %}
		</script>
		{% endif %}
	</div>
</div>
{% endblock %}
