{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/street.css" />
{% endblock %}

{% block content %}
<a href="/">↑</a>
<h1>{{ street.full_name }}</h1>
<table>
	<thead>
		<tr>
			<th>Номер</th>
			<th>Состояние</th>
			<th>Категория охраны</th>
		</tr>
	</thead>
	<tbody>
	{% for house in list %}
		<tr class="{% cycle 'odd' 'even' %}">
			<th><a href="/house/{{ house.id }}">{{ house.number }}</a></th>
		{% if house.state and house.safety == 'S' %}
			<td class="state-{{ house.state }}">{{ house.get_state_display }}</td>
		{% else %}
			<td class="safety-{{ house.safety }}">{{ house.get_safety_display }}</td>
		{% endif %}
			<td {% if house.protection == 'N' %}class="shady"{% endif %}>{{ house.get_protection_display }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
