<!DOCTYPE html>
<html lang="ru" xml:lang="ru">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Language" content="ru" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Старая Вологда</title>
	<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />

	<!--[if gte IE 7]><!-->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mobile.css" media="only screen and (max-device-width:540px)" />
	<!--<![endif]-->

	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie7.css" />
	<![endif]-->

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

	{% block head %}
	{% endblock %}
</head>
<body>
	<div id="wrap">
		<article>
		{% block content %}
			Empty!
		{% endblock %}
		</article>
	</div>
	<footer>
	</footer>
</body>
</html>
