{% extends "base.html" %}

{% block head %}
<script type='text/javascript' src='{{STATIC_URL}}/js/wlm.js'></script>
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
<div class="row">
	<div id="main" class="span9">
		<div id="find" class="row show-grid">
			<div class="span9">
				<div class="content">
					<h2>Найдите памятник</h2>

					<div class="row">
						<div id="boxMap" class="span9">
							<div id="location">
								<p class="title"><i class="icon-screenshot"></i>Введите регион и город вручную</p>
								<div class="controls">
									<label class="control-label" for="filter-region">Выберите регион</label>
									<select id="filter-region" name="region">
										{% for r in regions %}
										<option value="{{ r.id }}" {% if r.id = region.id %}selected="selected"{% endif %}>{{ r.name }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="controls">
									<label class="control-label" for="filter-city">Выберите город</label>
									<select id="filter-city" name="city">
										<option></option>
									</select>
								</div>
							</div>

							<div id="map" class="map map-big"></div>
							<script type="text/javascript">
var regions = {
		{% for r in regions %}
		"{{r.id}}" : {"latitude":{{ r.latitude|stringformat:"f" }}, "longitude":{{ r.longitude|stringformat:"f" }}, "scale":{{ r.scale }} }{% if not r.last %},{% endif %}
		{% endfor %}
	};
$(function(){
	var setCities = function(data){
		$('#filter-city option:gt(0)').remove();
		$.each(data, function(key, value){
			$('#filter-city').append($("<option></option>")
				.attr("value", value.id)
				.text(value.name));
		});
	}
	WLM.map.init_map('map');
	WLM.map.regionMarkers($('#filter-region option:selected').val());
	WLM.getRegionCities($('option:selected').val(), setCities);
	$('#filter-region').change(function(){
		WLM.map.regionMarkers($('option:selected', $(this)).val());
		WLM.getRegionCities($('option:selected', $(this)).val(), setCities);
	});
	$('#filter-city').change(function(){
		var city = $('option:selected', $(this)).val();
		if (city) {
			WLM.map.cityMarkers(city);
		}
		else {
			WLM.map.regionMarkers($('#filter-region option:selected').val());
		}
	});
});
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% comment %}
		<div id="result">
			<h2>Результаты поиска</h2>
			<div class="content">

				<!-- .element-result -->
				<div id="foto-81" class="element-result">
					<a class="foto-link" href="http://opora.me/alboms/lesnoe-konobeevo/">
						<img height="118" width="169" style="position: absolute;" src="{{ STATIC_URL }}img/fotoFx.png">
						<img height="118" width="169" title="" alt="" class="" src="{{ STATIC_URL }}img/simpleimg.jpg">
					</a>
						<p><a href="#" class="title-link">Фотография 1</a></p>
				</div>
				<!-- .element-result -->

				<div id="foto-81" class="element-result">
					<a class="foto-link" href="http://opora.me/alboms/lesnoe-konobeevo/">
						<img height="118" width="169" style="position: absolute;" src="{{ STATIC_URL }}img/fotoFx.png">
						<img height="118" width="169" title="" alt="" class="" src="{{ STATIC_URL }}img/simpleimg.jpg">
					</a>
						<p><a href="#" class="title-link">Фотография 1</a></p>
				</div>
				<div id="foto-81" class="element-result">
					<a class="foto-link" href="http://opora.me/alboms/lesnoe-konobeevo/">
						<img height="118" width="169" style="position: absolute;" src="{{ STATIC_URL }}img/fotoFx.png">
						<img height="118" width="169" title="" alt="" class="" src="{{ STATIC_URL }}img/simpleimg.jpg">
					</a>
						<p><a href="#" class="title-link">Фотография 1</a></p>
				</div>
				<div id="foto-81" class="element-result">
					<a class="foto-link" href="http://opora.me/alboms/lesnoe-konobeevo/">
						<img height="118" width="169" style="position: absolute;" src="{{ STATIC_URL }}img/fotoFx.png">
						<img height="118" width="169" title="" alt="" class="" src="{{ STATIC_URL }}img/simpleimg.jpg">
					</a>
						<p><a href="#" class="title-link">Фотография 1</a></p>
				</div>
				<div id="foto-81" class="element-result">
					<a class="foto-link" href="http://opora.me/alboms/lesnoe-konobeevo/">
						<img height="118" width="169" style="position: absolute;" src="{{ STATIC_URL }}img/fotoFx.png">
						<img height="118" width="169" title="" alt="" class="" src="{{ STATIC_URL }}img/simpleimg.jpg">
					</a>
						<p><a href="#" class="title-link">Фотография 1</a></p>
				</div>
				<div id="foto-81" class="element-result">
					<a class="foto-link" href="http://opora.me/alboms/lesnoe-konobeevo/">
						<img height="118" width="169" style="position: absolute;" src="{{ STATIC_URL }}img/fotoFx.png">
						<img height="118" width="169" title="" alt="" class="" src="{{ STATIC_URL }}img/simpleimg.jpg">
					</a>
						<p><a href="#" class="title-link">Фотография 1</a></p>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
		{% endcomment %}
	</div>

	{% include "wlm/sidebar_about.html" %}

	{% comment %}
	<div id="sidebar" class="span3">
		<h2>Фотографии с наиболее высокими оценками</h2>
		
		<!-- .content -->
		<div class="content">

			<!-- .element-sidebar -->
			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating">Голосов за: 315</p>
				</div>
			</div>
			<!-- /.element-sidebar -->

			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating">Голосов за: 315</p>
				</div>
			</div>
			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating">Голосов за: 315</p>
				</div>
			</div>
			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating">Голосов за: 315</p>
				</div>
			</div>
		</div>
		<!-- /.content -->


		<h2>Фотографии без оценок</h2>
		
		<!-- .content -->
		<div class="content">

			<!-- .element-sidebar -->
			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating"></p>
				</div>
			</div>
			<!-- /.element-sidebar -->

			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating"></p>
				</div>
			</div>
			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating"></p>
				</div>
			</div>
			<div class="element-sidebar clearfix">
				<img height="39" width="51" src="{{ STATIC_URL }}img/simpleimg.jpg" alt="">
				<div>
					<p class="title"><a href="#">Памятник Пушкину</a></p>
					<p class="rating"></p>
				</div>
			</div>
		</div>
	</div>
	{% endcomment %}
</div>
{% endblock %}
