{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="row">
	<div id="main" class="span9">
		<div id="find" class="row show-grid">
			<div class="span-bg span9">
				<div class="content">
					<h2>{{ region.name }}. Выберите город</h2>
					<div class="row">
						<div class="span-bg span9">
							<table class="table">
								<tr>
								{% for c in cities %}
									<td>
										{% if c.capital %}<strong>{% endif %}
										<a href="/list/city/{{ c.id }}/">{{ c.name }}</a>
										{% if c.capital %}</strong>{% endif %}
									</td>
								{% if forloop.counter|divisibleby:3 %}
								</tr>
								<tr>
								{% endif %}
								{% endfor %}
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include "wlm/sidebar_about.html" %}
</div>
{% endblock %}
