{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="row">
	<div id="main" class="span9">
		<div id="find" class="row show-grid">
			<div class="span-bg span9">
				<div itemscope itemtype="http://schema.org/State" class="content" class="content">
					<h2><span itemprop="name">{{ region.name }}</span>. Выберите город</h2>
					<div class="row">
						<div class="span-bg span9">
							<table class="table">
								<tr>
								{% for c in cities %}
									<td itemscope itemtype="http://schema.org/City">
										{% if c.capital %}<strong>{% endif %}
										<a itemprop="url" href="/list/city/{{ c.id }}/"><span itemprop="name">{{ c.name }}</span></a>
										{% if c.capital %}</strong>{% endif %}
									</td>
								{% if forloop.counter|divisibleby:3 %}
								</tr>
								<tr>
								{% endif %}
								{% endfor %}
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include "wlm/sidebar_about.html" %}
</div>
{% endblock %}
