{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="row">
	<div id="main" class="span9">
		<div id="find" class="row show-grid">
			<div class="span-bg span9">
				<div itemscope itemtype="http://schema.org/City" class="content">
					<h2><a itemprop="containedIn" href="/list/region/{{ city.region.id }}/">{{ city.region.name }}</a> → <span itemprop="name">{{ city.name }}</span></h2>
					<div class="row">
						<div id="boxMap" class="span-bg span9">
							<table class="table">
								<tr>
									<th>Название</th>
									<th>Адрес</th>
								</tr>
								{% for m in monuments %}
								<tr itemscope itemtype="http://schema.org/LandmarksOrHistoricalBuildings">
									<td><a itemprop="url" href="/monument/{{m.id}}/"><span itemprop="name">{{ m.name|default:'<Без названия>' }}</span></a></td>
									<td itemprop="address">{{ m.address }}</td>
								</tr>
								{% endfor %}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include "wlm/sidebar_about.html" %}
</div>
{% endblock %}
