{% extends "base.html" %}

{% block title %}{{ monument.name }} ({{ monument.address }}) — {% endblock %}

{% block moderator_menu %}
{% if perms.monument.can_change %}
<li class="pull-right"><a href="/admin/logout/">Выйти ({{ user }})</a></li>
<li class="pull-right"><a href="/monument/edit/{{ monument.id }}">Редактировать</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div itemscope itemtype="http://schema.org/LandmarksOrHistoricalBuildings">
	<div class="row">
		<div id="main">
			<div id="find" class="show-grid">
				<div class="span-bg span12">
					<h2><a itemprop="url" href="/monument/{{ monument.id }}">←</a> {{ monument.name }}</h2>
				</div>
			</div>
		</div>
	</div>

{% if monument.monumentphoto_set.count %}
	<hr />
	<div class="row m-photo-big">
		<div class="span12">
			<ul class="thumbnails">
			{% for p in monument.monumentphoto_set.all %}
				<li itemscope itemtype="http://schema.org/Photograph" class="span3">
					<a itemprop="url" class="thumbnail" target="_blank" href="//commons.wikimedia.org/wiki/File:{{ p.url_name }}"><img itemprop="thumbnailUrl"
					{% if p.width <= 300 %}
						src="//upload.wikimedia.org/wikipedia/commons/{{ p.folder }}/{{ p.url_name }}"
					{% else %}
						src="//upload.wikimedia.org/wikipedia/commons/thumb/{{ p.folder }}/{{ p.url_name }}/300px-{{ p.url_name }}"
					{% endif %}
						alt="{{ p.name }}, автор: {{ p.author }}" /></a>
					<p>Автор: <a itemprop="author" href="//commons.wikimedia.org/wiki/User:{{ p.author }}">{{ p.author }}</a></p>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
{% endif %}
</div>
{% endblock %}
