<div id="about" class="row show-grid about">
	<div class="span3">
		<h2>О&nbsp;проекте</h2>
		<div class="content">
			<p>«Вики любит памятники» — часть организуемого региональными отделениями Викимедиа международного фотосоревнования Wiki Loves Monuments`2013, проходящего в&nbsp;сентябре 2013 года.</p>
			<p>В&nbsp;конкурсе участвуют самостоятельно сделанные и в&nbsp;сентябре 2013 года самостоятельно загруженные под свободной лицензией на&nbsp;Викисклад фотографии, на&nbsp;которых запечатлён памятник архитектуры из&nbsp;<a href="/list/">специального списка</a>.</p>
			<h3 style="text-align:center">Спонсор <a href="/rules/#prize">призов</a></h3>
			<a style="display:block; width:200px; margin:5px auto 10px" href="http://www.nokia.com/ru-ru/?cid=nokiacom-fw-scl-na-nokialumia1020-na-othsocmedia-ru-ru-1todtmxa632e4"><img src="http://wikilovesmonuments.ru/media/partners/logo-nokia.png" width="200" height="86" /></a>
		</div>
	</div>
</div>

