<div id="about" class="row show-grid about">
	<div class="span3">
		<h2>О&nbsp;проекте</h2>
		<div class="content">
			<p>«Вики любит памятники» — традиционный конкурс фотографий объектов культурного наследия России, который в 2014 году будет совмещён с марафоном по написанию статей об объектах культурного наследия России.</p>
			<p>Даты приурочены к вступлению в силу поправок в Гражданский кодекс РФ, которые устанавливают свободу панорамы для фотографий объектов архитектуры и градостроительства, расположенных в местах публичного доступа. Таком образом, большое количество памятников архитектуры и истории стали доступны для получения свободных фотографий. Конкурс в 2014 году пройдёт вне рамок международного конкурса.</p>
			<p>Даты проведения фотоконкурса: 1-31 октября 2014 года. Даты проведения марафона: 1 октября — 15 ноября 2014 года. Подведение итогов — середина декабря 2014 года.</p>
		</div>
	</div>
</div>
