<div id="about" class="show-grid">
	<div class="span4">
		<div class="upload-block">
			<a class="btn btn-large btn-upload" href="//commons.wikimedia.org/w/index.php?title=Special:UploadWizard&amp;campaign=wlm-ru&amp;uselang=ru&amp;id={{ monument.kult_id|stringformat:'010d' }}&amp;description={{ monument.name|urlencode }}">
				<i class="upload-my"></i>
				Загрузить фото
			</a>
			<br />
			<small>Необходимо <a href="//commons.wikimedia.org/w/index.php?title=Special:UserLogin&uselang=ru">авторизоваться</a> на Викискладе</small>
		</div>
	</div>
</div>

