<div id="about" class="row show-grid about">
	<div class="span3" style="margin-bottom:20px">
		<h2>О&nbsp;проекте</h2>
		<div class="content">
			<p>«Вики любит памятники» — традиционный конкурс фотографий объектов культурного наследия России.</p>
			<p>Даты проведения фотоконкурса:<br />1–30 сентября 2015 года.</p>
			<p>Подведение итогов — 30 октября 2015 года.</p>
		</div>
	</div>
	<div style="text-align:center; color:#333">
		Призы предоставлены:
		<a href="http://www.rostelecom.ru/">
			<img src="https://upload.wikimedia.org/wikimedia/ru/thumb/f/fe/Rostelecom-logo-vert.png/225px-Rostelecom-logo-vert.png" />
		</a>
	</div>
</div>
